<div class="custom-card">
      
            <div class="img-container">
                <img src="https://st4.depositphotos.com/9998432/24359/v/450/depositphotos_243599048-stock-illustration-person-gray-photo-placeholder-girl.jpg" alt="Avatar" />
            </div>
            <div class="content">
                <h3 class="card-title">Titulo</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est error ipsum placeat quasi dolorum labore, culpa, odio perferendis, accusamus harum quidem quibusdam magnam. Explicabo nam, fugit possimus sed nostrum laboriosam.</p>
            </div>
        
    </div>
