.side {
  border-left: solid 2px var(--cor-destaque);
  padding: 1rem;
  max-width: 400px;
  margin: 0 10rem;
  position: relative;
  overflow: hidden;
  align-items: center;
}

h2 {
  color: var(--cor-fonte-destaque);
  font-weight: 700;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(66, 89, 223, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
