<footer class="app-footer footer ">
    <nav class="footer-nav navbar">
        <div>
            <ul class="d-flex align-items-center">
                <li>
                    <a href="/outras-ideias" class="footer-link "> 
                        <i class="bi bi-lightbulb footer-icon"></i>Outras Ideias
                    </a>
                </li>
                <li>
                    <a href="/criar-ideia" class="footer-link"> 
                        <i class="bi bi-plus-circle footer-icon"></i> Criar Ideia
                    </a>
                </li>
                <li>
                    <a href="/ranking" class="footer-link"> 
                        <i class="bi bi-trophy footer-icon"></i>Ranking
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</footer>