
.navbar {
  font-family: var(--fonte);
  border-bottom: solid 2px var(--cor-destaque);
}
.navbar-brand h2 {
  color: var(--cor-fonte-destaque);
  font-weight: 700;
}
.navbar-brand{
  display: flex;
align-items: center;
justify-content: center;
}
.nav-link {
  color: var(--cor-fonte) ;
  font-weight: 600;
  font-size: 1.3rem;
  margin-inline: 0.5rem;
}
.nav-link:hover {
  color: var(--cor-fonte-destaque) ;
}
.header-icon {
  margin-inline: 0.2rem;
  color: var(--cor-fonte-destaque);
  font-size: 1.6rem;
  

}
