@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
     --fonte: "Raleway", sans-serif;
     --cor-fonte: #000000;
     --cor-fonte-destaque:#00358E;
     --cor-fundo: #D9D9D9;
     --cor-destaque: #00358E8A;
}