<div class="container-fluid login-container">
  <div class="row justify-content-center">
    <div class="col-12 text-center mb-3">
      <img
        src="https://appvademecumlatam.cl/themes/focus2/images/logo-full.png"
        alt="Logo Eurofarma"
        height="120"
      />
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10 col-md-6 col-lg-4 login-box">
      <form [formGroup]="loginForm" (ngSubmit)="entrar()">
        <div class="mb-3 text-center">
          <label for="nome" class="form-label label">Insira seu nome:</label>
          <input
            type="text"
            class="form-control text-center custom-input"
            formControlName="nome"
            placeholder="Digite seu nome"
          />
        </div>

        <div class="mb-3 text-center">
          <label for="email" class="form-label label">Insira seu e-mail:</label>
          <input
            type="email"
            class="form-control text-center custom-input"
            formControlName="email"
            placeholder="Digite seu e-mail"
          />
        </div>

        <div class="text-center">
          <a href="cadastro">Ainda não está na plataforma? Se Cadastre!</a>
        </div>

        <div class="mb-3 mt-3 text-center">
          <button class="button-login" type="submit" [disabled]="loading">
            <a href="home" class="text-light">   {{ loading ? 'Entrando...' : 'Entrar' }}</a>
          </button>
        </div>

        
      </form>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-12 text-end me-5">
      <h2 class="title-farmana">FarmaNa</h2>
    </div>
  </div>
</div>
