<div class="container-fluid login-container">
  <div class="row justify-content-center">
    <div class="col-12 text-center mb-3">
      <img
        src="https://appvademecumlatam.cl/themes/focus2/images/logo-full.png"
        alt="Logo Eurofarma"
        height="120"
      />
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10 col-md-6 col-lg-4 login-box">
      <form>
        <div class="mb-3 text-center">
          <label for="email" class="form-label label">Insira seu e-mail:</label>
          <input
            type="email"
            class="form-control text-center custom-input"
            id="email"
            placeholder="Digite seu e-mail"
          />
        </div>

        <div class="mb-3 text-center">
          <label for="senha" class="form-label label">Insira sua senha:</label>
          <input
            type="password"
            class="form-control text-center custom-input"
            id="senha"
            placeholder="Digite sua senha"
          />
        </div>

        <div class="text-center">
          <a href="#">Esqueci minha senha</a>
        </div>

        <div class="mb-3 mt-3 text-center">
          <button class="button-login">Entrar</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-12 text-end me-5">
      <h2>FarmaNa</h2>
    </div>
  </div>
</div>
