
.label{
      font-size: 1.3rem;
      font-weight: 500;
}
.login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.button-login{
  border-radius: 50px;
  border: 1px solid var(--cor-destaque);
  background-color: var(--cor-destaque);
  color: #D9D9D9;
  font-weight: 600;
  padding: .5rem 3rem ;
  font-size: 1.4rem;
}
.button-login:hover{
    background-color: transparent;
    border: 3px solid var(--cor-destaque);
    color: var(--cor-fonte-destaque);
    transition: .5s;

}
.login-box {
  background: transparent;
}

.custom-input {
  border-radius: 50px;
  border: 1px solid var(--cor-destaque);
  padding: .5rem;
  color:var(--cor-fonte);
}

.custom-input::placeholder {
  color: var(--cor-fonte-destaque);
}

a {
  display: block;
  font-size: 1.2rem;
  color: var(--cor-fonte);
  text-decoration: none;
}

a:hover {
  color: var(--cor-fonte-destaque);

}

h2 {
  font-weight: bold;
  color: var(--cor-fonte-destaque);
}
/* Responsividade tablets */
@media (max-width: 992px) {
  .login-box {
    padding: 2rem;
    max-width: 350px;
  }

  .button-login {
    font-size: 1.2rem;
    padding: 0.5rem 2.5rem;
  }

  .label {
    font-size: 1.1rem;
  }
}

/* Responsividade celulares */
@media (max-width: 576px) {
  .login-container {
    padding: 1rem;
  }

  .login-box {
    padding: 1.5rem;
    max-width: 100%;
  }

  .button-login {
    font-size: 1.1rem;
    padding: 0.5rem 2rem;
  }

  .custom-input {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .label {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  a {
    font-size: 1rem;
  }
}