
<div class="container my-4">

    <form class="form-ideia p-4 rounded-4  bg-light">
        <div class="mb-3">
            <label for="titulo" class="form-label fw-semibold">Título:</label>
            <input type="text" id="titulo" class="form-control">
        </div>

        <div class="mb-3">
            <label for="descricao" class="form-label fw-semibold">Descrição:</label>
            <textarea id="descricao" class="form-control" rows="3"></textarea>
        </div>

        <div class="row mb-3">
            <div class="col-md-6 mb-3 mb-md-0">
                <label for="area" class="form-label fw-semibold">Área afetada:</label>
                <input type="text" id="area" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="tipo" class="form-label fw-semibold">Tipo de Ideia:</label>
                <input type="text" id="tipo" class="form-control">
            </div>
        </div>

        <div class="mb-3">
            <label for="recursos" class="form-label fw-semibold">Recursos de Apoio:</label>
            <input type="text" id="recursos" class="form-control">
        </div>

        <div class="text-end d-flex justify-content-end mt-4">
            <button type="submit" class="btn btn-outline-primary d-flex align-items-center justify-content-end gap-2 px-3 fs-5">
                Enviar <i class="bi bi-chevron-right"></i>
            </button>
        </div>
    </form>

</div>

