<div class="container mt-4 training-container">
  <h3 class="mb-4 section-title title-farmana">
    <i class="bi bi-check-square me-2"></i> Eventos nesse mês
  </h3>

  <div
    id="carouselTraining"
    class="carousel slide mb-5"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      @for (item of treinamentos; track $index) {

      <div class="carousel-item active">
        <div class="card training-card d-flex flex-row align-items-center p-4">
          <img
            src="{{ item.imagem }}"
            class="img-fluid rounded training-img me-4"
            alt="Evento"
          />
          <div class="training-info">
            <h5 class="fw-bold mb-2">{{ item.titulo }}</h5>
            <p class="text-muted mb-3">{{ item.descricao }}</p>
            <p class="mb-2 small">
              <i class="bi bi-calendar-event me-2 text-primary"></i
              >{{ item.dataHora }}<br />
              <i class="bi bi-geo-alt me-2 text-danger"></i>{{ item.local }}
            </p>
            <button
              class="btn mt-2 shadow-sm"
              [ngClass]="
                item.confirmado ? 'btn-outline-success' : 'btn-outline-primary'
              "
              (click)="confirmarPresenca(item)"
            >
              {{ item.confirmado ? "Confirmado" : "Confirmar presença" }}
            </button>
          </div>
        </div>
      </div>
      }
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselTraining"
        data-bs-slide="prev"
      >
        <i class="bi bi-chevron-left fs-1 icon-carrosel"></i>
      </button>

      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselTraining"
        data-bs-slide="next"
      >
        <i class="bi bi-chevron-right fs-1 icon-carrosel"></i>
      </button>
    </div>

    <h3 class="mt-5 section-title title-farmana">
      <i class="bi bi-plus-square me-2"></i> Próximos eventos
    </h3>

    @for (item of cards; track $index) { @if(item.tipo === 'treinamento'){

    <div class="card training-card d-flex flex-row align-items-center p-4 mb-4 mt-4">
      <img
        src="{{ item.imagem }}"
        class="img-fluid rounded training-img me-4"
        alt="Evento"
      />
      <div class="training-info">
        <h5 class="fw-bold mb-2">{{ item.titulo }}</h5>
        <p class="text-muted mb-3">{{ item.descricao }}</p>
        <p class="mb-2 small">
          <i class="bi bi-calendar-event me-2 text-primary"></i
          >{{ item.dataHora }}<br />
        </p>
      </div>
    </div>
    } }
  </div>
</div>
