@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
     --fonte: "Raleway", sans-serif;
     --cor-fonte: #000000;
     --cor-fonte-destaque: #00358E;
     --cor-fundo: #cfd6fd;
     --cor-destaque: #1303a3;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color:  var(--cor-fundo);
   
}